* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    ;
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px;

}

.logo {
    margin-right: 250px;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.profile-picture {
    display: flex;
    justify-content: center;
}

.profile-picture img {
    height: 200px;
    width: 200px;


}

.main-section h1 {
    text-align: center;
    font-size: 50px;
}

.main-section p {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

.experience-icons {
    display: flex;
    flex-direction: column;
    margin: 25px;

}

.experience-icons h2 {
    text-align: center;
    font-size: 10px;

}

.icons {
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 20px;
    font-size: 30px;
}

.projects-sections h2 {
    text-align: center;
}

.projects {
    display: flex;
    gap: 20px;
    margin: 15px;
    justify-content: center;
}

.card-image img {
    height: 250px;
    width: 300px;

}

.card-footer {
    display: flex;
    margin: 10px;
    margin-top: 2px;
}

.card-footer i {
    margin-left: auto;
    margin-top: 12px;
}

.card-content span {
    font-size: 8px;

}

.card-content h2 {
    font-size: 15px;

}

.experience {
    display: flex;
    margin-top: 50px;
}

.experience h2 {
    text-align: center;
}

.job {
    margin-bottom: 25px;
}

.jobs {
    margin-top: 10px;
}

.job-header {
    display: flex;
    margin-bottom: 10px;
    ;

}

.job-header span {
    margin-left: auto;
}

.jobs-icons {
    margin-right: 10px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.footer-content h2 {
    margin-bottom: 20px;

}

.footer-content p {
    margin-bottom: 15px;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 25px;
}