* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;

}

.header {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.804);
    color: white;

}


.logo {
    margin-right: 250px;
    font-family: cursive;


}

.nav-links {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.profile-picture {
    display: flex;
    justify-content: center;

}

.profile-picture img {
    height: 400px;
    width: 300px;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 30px;

}

.main-content {
    background-color: rgba(8, 6, 3, 0.872);
    color: white;
}

.main-section h1 {
    text-align: center;
    font-size: 50px;
}

.short-text {
    background: linear-gradient(to right, orange, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-section p {
    text-align: center;
    margin-top: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    margin-top: 20px;
}

.btn-contact {
    background-color: white;
    color: black;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    font-weight: bold;
}

.btn-download {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 30px;
    font-weight: bold;
    border: 2px solid white;
    padding-left: 30px;
    padding-right: 30px;
}

.experience-icons {
    display: flex;
    flex-direction: column;
    margin: 25px;

}

.experience-icons h2 {
    text-align: center;
    font-size: 10px;

}

.icons {
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 20px;
    font-size: 30px;
    margin-top: 15px;
}



.project-title {
    display: flex;
    justify-content: center;
    color: tomato;
}

.projects {
    display: flex;
    gap: 20px;
    margin: 15px;
    justify-content: center;
}

.html-article, .css-article{
    display: flex;
    flex-direction: column;
    
}
.card-image img {
    height: 250px;
    width: 300px;
    ;

}

.card-footer {
    display: flex;
    margin-top: 2px;
    color: white;
    background-color: rgb(59, 58, 58);
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-footer i {
    margin-left: auto;
    margin-top: 12px;
}

.card-content span {
    font-size: 8px;

}

.card-content h2 {
    font-size: 15px;

}

.experience {
    display: flex;
    margin-top: 70px;
}

.experience h2 {
    text-align: center;
    color: blue;
}

.jobs {
    margin-top: 20px;
    margin-bottom: 80px;
}

.job {
    margin-bottom: 25px;
}

.job-header {
    display: flex;
    margin-bottom: 10px;

}

.job-header span {
    margin-left: auto;
}

.jobs-icons {
    margin-right: 10px;
}

.footer{
     background-color: rgba(0, 0, 0, 0.804);
     
}

.footer-content {
    display: flex;
    flex-direction: column;
   padding-top: 80px;
   padding-bottom: 80px;
   color: white;
}

.footer-content h2 {
    margin-bottom: 20px;

}

.footer-content p {
    margin-bottom: 15px;
    color: gray;
}

.footer-content a{
    color: white;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 25px;
    
}